#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: true,
    preview_label_style: (fg: "#a5980d"),
    preview_metadata_group_style: (fg: "#a5980d", modifiers: "Bold"),
    highlighted_item_style: (fg: "#7d9726", modifiers: "Bold"),
    current_item_style: (fg: "#18211e", bg: "#7d9726", modifiers: "Bold"),
    borders_style: (fg: "#5b9d48"),
    highlight_border_style: (fg: "#a5980d"),
    symbols: (
        song: "󰎈",
        dir: "󰉋",
        playlist: "󰲹",
        marker: "",
        ellipsis: "...",
        song_style: (fg: "#7d9726"),
        dir_style: (fg: "#36a166"),
        playlist_style: (fg: "#a5980d"),
    ),
    level_styles: (
        info: (fg: "#36a166", bg: "black"),
        warn: (fg: "#a5980d", bg: "black"),
        error: (fg: "#ba6236", bg: "black"),
        debug: (fg: "#5b9d48", bg: "black"),
        trace: (fg: "#5f9182", bg: "black"),
    ),
    progress_bar: (
        symbols: ["█", "█", "█", "─", "█"],
        track_style: (fg: "#302f27"),
        elapsed_style: (fg: "#7d9726"),
        thumb_style: (fg: "#5b9d48"),
        use_track_when_empty: true,
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#7d9726"),
    ),
    tab_bar: (
        active_style: (fg: "#18211e", bg: "#7d9726", modifiers: "Bold"),
        inactive_style: (fg: "#5f9182"),
    ),
    lyrics: (
        timestamp: false
    ),
    cava: (
        bar_symbols: [' ', ' ', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        inverted_bar_symbols: ['█', '▇', '▆', '▅', '▄', '▃', '▂', ' ', ' '],
        bar_color: Gradient({
            0: "#36a166",
            25: "#5f9182",
            50: "#7d9726",
            75: "#5b9d48",
            100: "#a5980d",
        }),
        bar_spacing: 1,
        bar_width: 1,
        orientation: Bottom,
    ),
    browser_song_format: [
        (
            kind: Property(Title),
            default: (kind: Property(Filename)),
        ),
    ],
    song_table_format: [
        (
            prop: (kind: Property(Title), default: (kind: Property(Filename))),
            width: "70%",
        ),
        (
            prop: (kind: Property(Artist), default: (kind: Text("Unknown"))),
            width: "30%",
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                borders: "ALL",
                border_symbols: Rounded,
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "18",
                            pane: Component("header_left")
                        ),
                        (
                            size: "100%",
                            pane: Component("header_center")
                        ),
                        (
                            size: "20",
                            pane: Component("header_right")
                        ),
                    ]
                )
            ),
            (
                pane: Pane(Tabs),
                borders: "RIGHT | LEFT | BOTTOM",
                border_symbols: Rounded,
                size: "2",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                size: "3",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "14",
                            borders: "ALL",
                            border_symbols: Rounded,
                            pane: Component("input_mode")
                        ),
                        (
                            size: "22",
                            borders: "ALL",
                            border_symbols: Rounded,
                            pane: Component("bottom_elapsed")
                        ),
                        (
                            size: "100%",
                            borders: "ALL",
                            border_symbols: Rounded,
                            border_title: [
                                (kind: Text(" 󰎆 ")),
                                (kind: Property(Status(QueueLength()))),
                                (kind: Text(" songs 󰇙 ")),
                                (kind: Property(Status(QueueTimeTotal()))),
                                (kind: Text(" total ")),
                            ],
                            border_title_alignment: Right,
                            pane: Component("progress_bar"),
                        ),
                        (
                            size: "26",
                            borders: "ALL",
                            border_symbols: Rounded,
                            pane: Component("bottom_stats")
                        ),
                    ]
                ),
            ),
        ],
    ),
    components: {
        "bottom_elapsed": Pane(Property(
            content: [
                (kind: Text(" 󰐊 "), style: (fg: "#89dceb", modifiers: "Bold")),
                (kind: Property(Status(Elapsed)), style: (fg: "#89b4fa", modifiers: "Bold")),
                (kind: Text(" / "), style: (fg: "#6c7086")),
                (kind: Property(Status(Duration)), style: (fg: "#d8dee9")),
            ], align: Center
        )),
        "bottom_stats": Pane(Property(
            content: [
                (kind: Text(" 󰓃 "), style: (fg: "#89b4fa")),
                (kind: Property(Status(Bitrate)), style: (fg: "#89dceb")),
                (kind: Text(" kbps 󰇙 󰕾 "), style: (fg: "#6c7086")),
                (kind: Property(Status(Volume)), style: (fg: "#f9e2af", modifiers: "Bold")),
                (kind: Text("% ")),
            ], align: Center
        )),
        "state": Pane(Property(
            content: [
                (kind: Text("["), style: (fg: "#a5980d", modifiers: "Bold")),
                (kind: Property(Status(StateV2())), style: (fg: "#a5980d", modifiers: "Bold")),
                (kind: Text("]"), style: (fg: "#a5980d", modifiers: "Bold")),
            ], align: Left,
        )),
        "title": Pane(Property(
            content: [
                (kind: Property(Song(Title)), style: (fg: "#f4f3ec", modifiers: "Bold"),
                    default: (kind: Text("No Song"), style: (modifiers: "Bold"))),
            ], align: Center, scroll_speed: 1
        )),
        "volume": Split(
            direction: Horizontal,
            panes: [
                (size: "1", pane: Pane(Property(content: [(kind: Text(""))]))),
                (size: "100%", pane: Pane(Volume(kind: Slider(symbols: (filled: "─", thumb: "●", track: "─"))))),
                (size: "3", pane: Pane(Property(content: [(kind: Property(Status(Volume)), style: (fg: "#7d9726"))], align: Right))),
                (size: "2", pane: Pane(Property(content: [(kind: Text("%"), style: (fg: "#7d9726"))]))),
            ]
        ),
        "elapsed_and_bitrate": Pane(Property(
            content: [
                (kind: Property(Status(Elapsed))), 
                (kind: Text(" / ")), 
                (kind: Property(Status(Duration))), 
                (kind: Group([
                    (kind: Text(" (")), 
                    (kind: Property(Status(Bitrate))), 
                    (kind: Text(" kbps)")),
                ])),
            ],
            align: Left,
        )),
        "artist_and_album": Pane(Property(
            content: [
                (kind: Property(Song(Artist)), style: (fg: "#7d9726", modifiers: "Bold"),
                    default: (kind: Text("Unknown"), style: (fg: "#7d9726", modifiers: "Bold"))),
                (kind: Text(" - ")),
                (kind: Property(Song(Album)), default: (kind: Text("Unknown Album"))),
            ], align: Center, scroll_speed: 1
        )),
        "states": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "1",
                    pane: Pane(Empty())
                ),
                (
                    size: "100%",
                    pane: Pane(Property(content: [(kind: Property(Status(InputBuffer())), style: (fg: "#7d9726"), align: Left)]))
                ),
                (
                    size: "6",
                    pane: Pane(Property(content: [
                        (kind: Text("["), style: (fg: "#7d9726", modifiers: "Bold")),
                        (kind: Property(Status(RepeatV2(
                            on_label: "z",
                            off_label: "z",
                            on_style: (fg: "#a5980d", modifiers: "Bold"),
                            off_style: (fg: "#5f9182", modifiers: "Dim"),
                        )))),
                        (kind: Property(Status(RandomV2(
                            on_label: "x",
                            off_label: "x",
                            on_style: (fg: "#a5980d", modifiers: "Bold"),
                            off_style: (fg: "#5f9182", modifiers: "Dim"),
                        )))),
                        (kind: Property(Status(ConsumeV2(
                            on_label: "c",
                            off_label: "c",
                            oneshot_label: "c",
                            on_style: (fg: "#a5980d", modifiers: "Bold"),
                            off_style: (fg: "#5f9182", modifiers: "Dim"),
                            oneshot_style: (fg: "#ba6236", modifiers: "Dim"),
                        )))),
                        (kind: Property(Status(SingleV2(
                            on_label: "v",
                            off_label: "v",
                            oneshot_label: "v",
                            on_style: (fg: "#a5980d", modifiers: "Bold"),
                            off_style: (fg: "#5f9182", modifiers: "Dim"),
                            oneshot_style: (fg: "#ba6236", modifiers: "Bold"),
                        )))),
                        (kind: Text("]"), style: (fg: "#7d9726", modifiers: "Bold")),
                        ],
                        align: Right
                    ))
                ),
            ]
        ),
        "input_mode": Pane(Property(
            content: [
                (kind: Transform(Replace(content: (kind: Property(Status(InputMode()))), replacements: [
                    (match: "Normal", replace: (kind: Text(" 󰌌 NORMAL "), style: (fg: "#18211e", bg: "#7d9726"))),
                    (match: "Insert", replace: (kind: Text(" 󰏫 INSERT "), style: (fg: "#18211e", bg: "#a5980d"))),
                ])))
            ], align: Center
        )),
        "header_left": Pane(Property(
            content: [
                (kind: Text(" ")),
                (kind: Transform(Replace(content: (kind: Property(Status(StateV2()))), replacements: [
                    (match: "Play", replace: (kind: Text("󰐊 PLAYING"), style: (fg: "#a6e3a1", modifiers: "Bold"))),
                    (match: "Pause", replace: (kind: Text("󰏤 PAUSED"), style: (fg: "#f9e2af", modifiers: "Bold"))),
                    (match: "Stop", replace: (kind: Text("󰓛 STOPPED"), style: (fg: "#f38ba8", modifiers: "Bold"))),
                ]))),
                (kind: Text(" ")),
            ], align: Left
        )),
        "header_center": Pane(Property(
            content: [
                (kind: Text("󰎈 "), style: (fg: "#89b4fa")),
                (kind: Property(Song(Title)), style: (fg: "#cdd6f4", modifiers: "Bold"),
                    default: (kind: Text("No Song Playing"), style: (fg: "#6c7086", modifiers: "Bold"))),
                (kind: Group([
                    (kind: Text("  󰇙  "), style: (fg: "#6c7086")),
                    (kind: Property(Song(Artist)), style: (fg: "#89dceb")),
                ])),
            ], align: Center, scroll_speed: 1
        )),
        "header_right": Split(
            direction: Horizontal,
            panes: [
                (size: "3", pane: Pane(Property(content: [(kind: Text(" 󰕾 "))], style: (fg: "#89b4fa")))),
                (size: "100%", pane: Pane(Volume(kind: Slider(symbols: (filled: "─", thumb: "●", track: "─"))))),
                (size: "6", pane: Pane(Property(content: [(kind: Property(Status(Volume)), style: (fg: "#89b4fa", modifiers: "Bold")), (kind: Text("% "))], align: Right))),
            ]
        ),
        "progress_bar": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "1",
                    pane: Pane(Empty())
                ),
                (
                    size: "100%",
                    pane: Pane(ProgressBar)
                ),
                (
                    size: "1",
                    pane: Pane(Empty())
                ),
            ]
        )
    },
)
