[Unit]
Description=Ballade Screen Time Tracker
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/.config/quickshell/ballade/scripts/system/screentime-daemon.py
Restart=always
RestartSec=2s
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
